body{
    background-color:rgb(18, 126, 137);
}


.one h1{
    color:white;
}

.one p{
    color:white;
    line-height: 25px;
    margin-right: 10px;
    
}

.one{
    background-color: rgb(28, 24, 24);
    height:130px;
    width:350px;
    margin:15px 15px;
    padding:5px;
    padding-left: 20px;
}

.two{
    color:white;
    background-color: rgb(41, 41, 243);
    height:140px;
    width:350px;
    
    margin-top: 15px;
    
    text-align: center;
     

}

.two h1{
 
    padding:15px;
}
.first{
    display: flex;
    flex-direction: row;
}

.three{
    background-color: aquamarine;
    width:350px;
    height:140px;
    color:white;
    text-align: center;
    margin-top: 15px;
}

.four{
    background-color: black;
    width:350px;
    height:140px;
    color:white;
    text-align: center;
    margin-top: 15px;
    margin-left: 0;
}

.container{
    display:flex;
}