.container{
     margin:20px;
     position:relative;
     border:1px solid black;
     width:800px;
     height:600px;
}
.green-block{
    width:100px;
    height:100px;
    background-color: green;
    position:absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
    margin:auto;
}